.post-card {
  border: 1px solid #ccc;
  flex-direction: row;
  margin-bottom: 2rem;
  padding: 1rem;
}
.home-container {
  margin: 40px auto;
  max-width: 800px;
  padding: 0 1rem;
}
.post-info {
  justify-content: space-between;
  display: flex;
}
.post-date {
  color: #888;
  font-size: 0.8rem;
}

.post-category {
  display: flex;
}
.post-tag {
  border: 1px solid #06c;
  border-radius: 0.2rem;
  color: #06c;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.4rem;
}

.post-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.post-content.preview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 2行で切る */
  overflow: hidden;
  text-overflow: ellipsis;
}
